section{
  width: 40%;
  margin: 25px auto;
}

input{
  display: block;
}

textarea{
  resize: none;
  width: 90%;
  margin-left: 4.0%;
  padding: 5px;
}

label{
  padding: 5px 0px 7.5px 7.5px;
  padding-bottom: 0;
  font-size: 24px;
  width: 94%;
  margin: auto;
  display: block;
}
.bookmark-card{
  background-color: #f2f2f2;
  margin: 25px auto;
}
#create{
  background-color: #f2f2f2;
  padding: 5px;
  width: 30%;
}
#create button{
  display: block;
  padding: 15px;
  justify-content: flex-end;
  font-size: 32px;
  margin: 15px auto;
}
.hidden{
  display: none;
}
.rated{
  height: 20px;
  width: 20px;
  border: 1px solid;
  border-radius: 50%;
  background: black;
  margin-left: 5px;
  margin-right: 5px;
}
.unrated{
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 50%;
  background: white;
  margin-left: 5px;
  margin-right: 5px;
}
.rating-section{
  width: 100%;
  margin: 0;
  padding: 15px;
}
.circles{
  cursor: pointer;
}
input{
  padding: 5px;
  width: 90%;
  font-size: 22px;
  margin: auto;
}

select{
  font-size: 24px;
  padding: 5px;
}
.bookmark-card h3{
  padding: 15px;
  margin: 0;
  font-size: 26px;
}
.view-more{
  margin-left: auto;
  display: flex;
  font-size: 18px;
  background-color: #f2f2f2;
  padding: 6px;
  border: 1px solid #f2f2f2;
  border-top: 1px solid;
  cursor: pointer;
  border-left: 1px solid;
  border-bottom: 1px solid;
}

.change-desc button{
  display: block;
  margin: 15px 4%;
  font-size: 18px;
  padding: 8px;
}
.delete{
  margin-left: auto;
  display: flex;
  font-size: 18px;
  padding: 6px;
}
.test{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.test button{
    font-size: 18px;
    padding: 6px;
}